<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <groups>  
    <run>  
      <include name="mainRun"/>  
    </run>  
  </groups>
  
  <test thread-count="5" name="Test">
	<parameter name="browser" value="chrome" />
	<classes>
	  <!--class name="demoTest1.Driver"/-->
      <!--class name="demoTest1.CreateAccount"/-->
      <class name="demoTest1.UserLogin"/>
      <class name="demoTest1.EmptyCartDialog"/>
      <class name="demoTest1.GridListView"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
